
.leftbloc {
  background-color: #176497;
  color: #fff;
  padding: 1rem;
  padding-right: 0;
  flex-grow: 1;
  min-height: 100vh;
  max-width: 15%;
  }

.nav-item {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  padding-right: 1rem;
  padding-top: 1rem;
  width: 40%;

  &:hover {
    color: rgb(221, 116, 156);
    cursor: pointer;
  }
}


