.recipe-page {
    border: solid 1px rgb(189, 185, 185);
    background-color: rgb(247, 245, 245);
    border-radius: 0.3rem;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-inline: auto;
    height: auto;
    gap: 0.5rem;
    max-width: 1000px;

    .recipe-image {
        height: 100%;
        width: 100%;
    }

    .recipe-title {
        padding-inline: 1rem;
        padding-top: 1rem;

        & h2 {
            font-size: 1.5rem;
            font-weight: bold;
            color: #0a4064;
        }
        & p {
            font-weight: bold;
            color: grey;
        }
    }
}
.ingredients {
    padding-top: 1rem;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;

    h4 {
        font-size: 1.275rem;
        font-weight: bold;
        color: #010405; 
    }

    li {
        display: flex;

        span {
            font-weight: bold;
            color: #176497;
            text-align: center;
            margin-right: 0.5rem;
            
        }
    }
    
}
.instructions {
    padding-top: 1rem;
    padding-inline: 1rem;

    h4 {
        font-size: 1.275rem;
        font-weight: bold;
        color: #010405; 
    }
    li:before {
        content: "";
        width: 1rem;
        height: 3px;
        display: block;
        position: absolute;
        top: 0.4rem;
        left: 0;
        background-color: #219cee;
      }
    
    li {
        margin: 0.5rem 0;
        position: relative;
        padding-left: 1.5rem;
      }
        
}